<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="controllers/loginRedirectController.js"></script>
<script src="controllers/contentController.js"></script>

<script src="https://js.stripe.com/internal/v2/analytics.min.js"></script>

<body ng-app="home" >

<div ng-controller="contentController">
<div>
    <h1>Welcome {{ userEmail }}</h1>
    <button ng-click="logout()">logout</button>
</div>
<div ng-if="role=='user' || role=='admin' ">
  <form novalidate>
    Service Name:<br>
    <input type="text" ng-model="service_name">
    <button ng-click="submit()">create</button>
  </form>




 </div>



<div ng-if="role=='admin' || role=='provider' || role=='user'">
    <h3>Pending Requests (no provider yet)</h3>
    <ul>
        <li ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">{{ obj.name }}</li> 

    </ul>
</div>
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4U7bN0qMfn2dRa28NxlKRhAQ"
    data-amount="1000"
    data-name="Lapp"
    data-description="Service charge $10.00)"
    data-image="http://weknowyourdreamz.com/images/money/money-08.jpg"
    data-locale="auto">
  </script>
</form>

<div ng-if="role=='admin' || role=='provider' || role=='user'">
    <h3>Incomplete Jobs(Accepted-status in progress)</h3>
    <ul>
        <li ng-repeat="obj in service_request_data | filter:{ completed: 'inprogress'}">{{ obj.name }} (Accepted by provider with id : {{ obj.provider}})</li>
    </ul>
</div>
<div ng-if="role=='admin' || role=='user' ">
    <h3>Completed Jobs</h3>
    <ul>
        <li ng-repeat="obj in service_request_data | filter:{ completed: true}">{{ obj.name }} (completed by provider with id : {{ obj.provider}})</li>
    </ul>
</div>
</div>
</body>
</html>

